# Iris Dataset

This notebook talks about the Iris Dataset. This dataset is perhaps the best known dataset to be found in the pattern recognition literature. 

## Table of Contents
1. [What is the Iris Dataset](#WhatIs)

##  What is the Iris Dataset? <a name="WhatIs"></a>

The Iris flower data set,also known as Fisher's Iris data set is a multivariate data set introduced by the British statistician and biologist Ronald Fisher. 

The data set consists of 50 samples from each of three species of Iris,the setosa, the virginica and the versicolor. Four features were measured from each sample, the length and width of both the sepals and petals. Studying the combination of these four features, Fisher developed a linear discriminant model to distinguish one species from another.

## Imports

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sbn
import matplotlib.pyplot as plt

## Getting the Iris Dataset

Import the Iris Dataset from the online source and assign it an identify to be used again at a later stage in the program.

In [8]:
url = "https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv"
headings = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'species']

iris = pd.read_csv(url, names=headings)

An example of what the dataset contains:

In [7]:
iris.head(15)

    sepal-length  sepal-width  petal-length  petal-width  species
0   sepal_length  sepal_width  petal_length  petal_width  species
1            5.1          3.5           1.4          0.2   setosa
2            4.9            3           1.4          0.2   setosa
3            4.7          3.2           1.3          0.2   setosa
4            4.6          3.1           1.5          0.2   setosa
5              5          3.6           1.4          0.2   setosa
6            5.4          3.9           1.7          0.4   setosa
7            4.6          3.4           1.4          0.3   setosa
8              5          3.4           1.5          0.2   setosa
9            4.4          2.9           1.4          0.2   setosa
10           4.9          3.1           1.5          0.1   setosa
11           5.4          3.7           1.5          0.2   setosa
12           4.8          3.4           1.6          0.2   setosa
13           4.8            3           1.4          0.1   setosa
14           4.3            3           1.1          0.1   setosa

Here we can see that for each sample the sepel and petal length ad width is given.We can now check to make sure there is 50 of each species and the iris.csv file is being read in correctly.

In [10]:
iris['species'].value_counts()

setosa        50
versicolor    50
virginica     50
species        1
Name: species, dtype: int64

We can see there is 50 samples for each species. This means the file is being read correctly and we can continue with the Data Visualization.

## Visualizaing the Data

The next step is to graph the data so we can try and see the differences between each type of species